<html>

    <form method="POST" action="/new">
    <input type="text" name="message" placeholder="Message">
    <input type="text" name="user" placeholder="User">
    <button type="submit">Submit</button>
    </form>

</html>